#event-detail-page .hero {
  background: none;
}

#event-detail-page .hero .wrapper {
    background: none;
}

#event-detail-page .dropdown.filter-by-date {
    display: none;
}

#event-detail-page .dropdown.filter-by-tag {
    display: none;
}

#event-detail-page .dropdown.filter-by-type {
    display: none;
}

#event-detail-page .controls .page-title a {
  color: black;
}

.wrapper {
	margin: 0;
}

.hero {
  min-height: fit-content;
}

.hero:after {
  display: none;
}

.hero:after,
.hero img {
  display: none;
}

.hero .wrapper {
  margin-top: 1em;
}

.hero-text h1 {
    display: none;
}

.hero-text p {
    display: none;
}

.export-controls > a {
  color: var(--mc-link);
  border: 0.2em solid;
}

.export-controls > a:hover {
  color: black;
}

.export-controls {
  position: static;
  justify-content: flex-start;
}

.dropdown.filter-by-date {
    display: none;
}

.dropdown.filter-by-tag {
    display: none;
}

.dropdown.filter-by-type {
    display: none;
}