/**
 * Custom

 * Any custom styles implemented in the OmniUpdate environment
 * should go here
 */

.center-button {
	margin: auto;
	width: 60%;
	padding: 10px;
	padding-bottom: 30px;
}
input.cta--button {
	font-size: 18px;
	font-weight: bold;
	border: none;
	margin:0 auto;
	display:block;
}

article {
  border: none;
}

/** Initially we hide all articles but the default one */
article:not(:last-of-type) {
  display: none;
  margin: 5px 0;
}

/** If an article is :target we display it ... */
article:target {
  display: block;
}

/** ... and we hide the default article */
article:target ~ article:last-of-type {
  display: none;
}


.comp-info-box a {
  color: #fff200;
}

.comp-info-box a:hover {
  color: white;
}