
/* Faculty Directory */

#facDir {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    border-radius: 0
}

#facDir a{
    color:#005C54;
}

#facDir thead input{
    width:100%;
    padding: 3px !important;
    box-sizing: border-box;
    border: 1px solid #000 !important;
    font-size: 11px !important;
    color: #333 !important;
}

#facDir tfoot {
    display: table-header-group;
}

#facDir thead, #facDir tbody, #facDir tfoot {
    border: 1px solid #f1f1f1;
    background-color: #fefefe;
    font-size:14px;
}
#facDir caption {
    padding: 8px 10px 10px;
    padding: .5rem .625rem .625rem;
    font-weight: 700
}
#facDir thead {
    background: #f8f8f8;
    color: #0a0a0a
}
#facDir tfoot {
    background: #f1f1f1;
    color: #0a0a0a
}
#facDir thead tr, #facDir tfoot tr {
    background: 0 0
}
#facDir thead th, #facDir thead td, #facDir tfoot th, #facDir tfoot td {
    padding: 8px 10px 10px;
    padding: .5rem .625rem .625rem;
    font-weight: 700;
    text-align: left
}
#facDir tbody th, #facDir tbody td {
    padding: 8px 10px 10px;
    padding: .5rem .625rem .625rem
}

#facDir td:nth-child(1) {  
  padding-left:30px;
}

tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f1f1f1
}
table.unstriped tbody {
    background-color: #fefefe
}
table.unstriped tbody tr {
    border-bottom: 0;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fefefe
}

#facDir .type{
	    max-width: 500px;
		white-space: break-spaces;
}

table.dataTable>tbody>tr.child ul.dtr-details>li{
	white-space: break-spaces;
}

@media (max-width:767px){
    #facDir_length{
        float:left;
        width:20%;
        text-align: left;
    }
    #facDir_length select {
        width:auto;
    }
    #facDir_filter{
        float:right; 
        width:70%;
        text-align: left;
    }
    #facDir_filter input{
        width:100%;
    }
	#facDir .type{
	    max-width: 300px;
}


