<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/_dmc/_core/webhook-summary.xsl" title="Summary" extension="html" publish="no"?>
<?pcf-stylesheet path="/_resources/xsl/_dmc/_core/webhook-config.xsl" title="PHP" extension="php" alternate="no"?>

<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">

<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
	
	<headcode></headcode> <!-- before closing head tag -->
	<bodycode></bodycode> <!-- after opening body tag -->
	<footcode></footcode> <!-- before closing body tag -->
			
	<ouc:properties label="metadata">
	</ouc:properties>
	
	<parameter name="server-type">php</parameter><!-- set to either php or csharp -->
	<parameter name="skin">oucampus</parameter>
	<parameter name="account">hudsonccc</parameter>
	<parameter name="log">false</parameter><!-- When setting log to true make sure there is a subfolder named _log relative to wherever this PCF is located and user level is 4 or higher. -->
	
	
	<ouc:properties label="config">
		<parameter name="username" type="text" group="Everyone" section="User Credentials" prompt="Username" alt="Required. User used to publish the PCFs configured below.">zz-webhooks</parameter>
		<parameter name="password" type="text" group="Everyone" prompt="Password" alt="Required.">webhooks-hudson-2023</parameter>
		<parameter name="next-webhook-url" type="text" group="Everyone" section="Next Webhook Listener" prompt="Next Webhook URL" alt="Optional. Absolute URL to another Webhook Listener that the payload should be forwarded to. Note: RDA scripts ignore forwarded payloads to avoid recursion."></parameter>
		
		<parameter name="active-1" type="checkbox" group="Everyone" section="Action Configuration" prompt="" alt="">
<option value="active" selected="true">Active</option>
</parameter>
		<parameter name="site-1" type="text" group="Everyone"  prompt="Site" alt="Required.">www</parameter>
		<parameter name="trigger-path-1" type="text" group="Everyone" prompt="Trigger Directories" alt="Required. Multiple root relative paths may be entered separated by commas.">/abouthccc/directory/profile/</parameter>
		<parameter name="publish-path-1" type="text" group="Everyone" prompt="Publish File Path" alt="Required. Enter one root relative path a file you wish to automatically publish.">/_resources/data/faculty.pcf</parameter>
		
<!-- 		<parameter name="active-2" type="checkbox" group="Everyone" section="Action Configuration" prompt="" alt="">
<option value="active" selected="false">Active</option>
</parameter>
		<parameter name="site-2" type="text" group="Everyone"  prompt="Site" alt="Required.">php54</parameter>
		<parameter name="trigger-path-2" type="text" group="Everyone" prompt="Trigger Directories" alt="Required. More than one root relative paths may be entered separated by commas.">/_showcase/programs/</parameter>
		<parameter name="publish-path-2" type="text" group="Everyone" prompt="Publish File Path" alt="Required. Enter one root relative path a file you wish to automatically publish.">/_resources/data/programs.pcf</parameter> -->
		
		
	</ouc:properties>
	
</document>
